@media (min-width: 768px) {
  .md\:text-sm {
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
  }
  .md\:text-base {
    font-size: 1rem !important;
  }
  .md\:text-lg {
    font-size: 1.125rem !important;
    line-height: 1.5rem !important;
  }
  .md\:text-xl {
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
}
  .md\:text-2xl {
    font-size: 1.5rem !important;
    line-height: 2rem !important;
  }
  .md\:text-4xl {
    font-size: 2.25rem !important;
    line-height: 2.5rem !important;
  }
  .md\:w-10 {
    width: 2.5rem;
  }
  .md\:h-10 {
    height: 2.5rem;
  }
  .md\:border-0 {
    border: 0 !important;
  }
  .md\:p-10 {
    padding: 2.5rem;
  }
}
@media (min-width: 992px) {
  .hero-img {
    height: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius:1.5rem;
  }
  .lg\:h-750px {
  height: 750px;
}
}

